body {
    margin: 20px;
}

.avatar {
    width: 150px;
}

.frank {
    width: 150px;
    position: absolute;
    opacity: 0;
    transition: all 1s;
}

.frank:hover {
    opacity: 1;
}

.card {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #dc8217;
    color: #fafafa;
    border-bottom: 6px solid #975d1c;
    transition: all 0.2s ease-out;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 8px 8px rgba(0, 0, 0, 0.3);
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

